<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>E26170A5-B855-4FEB-8A97-BAC1ABA44082.playgroundpage</string>
		<string>50F800A0-C34F-4F83-BB40-6B4036BE162D.playgroundpage</string>
		<string>7F018E0D-6B0A-4868-8561-898CB858B721.playgroundpage</string>
		<string>C3ACA26B-4BB8-400E-BD7D-7F33BE13B652.playgroundpage</string>
		<string>09E590FE-E926-4C47-A504-0E212D874255.playgroundpage</string>
		<string>My Playground.playgroundpage</string>
	</array>
</dict>
</plist>
