<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>4F6962EE-1159-4D4A-B6D8-DB0B46FC499B.playgroundpage</string>
		<string>8A42B92C-1B98-4FD1-8276-7A83F4F9500C.playgroundpage</string>
		<string>7E871395-5245-424F-8B39-C84CD99958D9.playgroundpage</string>
	</array>
</dict>
</plist>
