<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>4F6962EE-1159-4D4A-B6D8-DB0B46FC499B.playgroundpage</string>
		<string>B64D6137-90EF-4C7C-AD44-5547BE1DEADA.playgroundpage</string>
	</array>
</dict>
</plist>
