<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>F6D8394B-0520-4888-9E11-044252AE5D88.playgroundpage</string>
		<string>F88FC66D-1438-4BED-BE97-7992CF1D38CB.playgroundpage</string>
		<string>F3D4D376-42F2-4417-AEF6-13A467A79649.playgroundpage</string>
		<string>F2F0C479-3EEF-428C-AC2E-98B65B5653F9.playgroundpage</string>
		<string>427325C3-F20B-4EAB-A7FD-DDF0ABFFBAB0.playgroundpage</string>
		<string>2135C90B-EBED-4BF5-A854-DC04A3D5B8EF.playgroundpage</string>
		<string>67BC2E42-CFA5-4BFB-92A8-9D850EE45F21.playgroundpage</string>
	</array>
</dict>
</plist>
