<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>4F6962EE-1159-4D4A-B6D8-DB0B46FC499B.playgroundpage</string>
		<string>8AE28735-4F41-4212-A12C-A36189C85C21.playgroundpage</string>
	</array>
</dict>
</plist>
