<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>67BC2E42-CFA5-4BFB-92A8-9D850EE45F21.playgroundpage</string>
		<string>F3A9C45C-AE75-4F7C-92AF-8AEF3B9035DF.playgroundpage</string>
		<string>398C6BE8-DBE5-4779-AA1C-020ED137F54E.playgroundpage</string>
		<string>D68D8EA7-357E-4560-A3B5-BAD13048FEDD.playgroundpage</string>
		<string>A1E2CA5C-745F-4D95-B7D6-76D98F013D25.playgroundpage</string>
		<string>EF63D6D0-40B3-49FF-AD20-4BA4A3BC3620.playgroundpage</string>
		<string>4F6962EE-1159-4D4A-B6D8-DB0B46FC499B.playgroundpage</string>
	</array>
</dict>
</plist>
